[class^="col-"] {
    height: 150px;
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-weight: bold;
}

.col-12:nth-child(1) { background-color: darkred; }
.col-12:nth-child(2) { background-color: red; }
.col-12:nth-child(3) { background-color: orangered; }
.col-12:nth-child(4) { background-color: yellow; }